@import '../../assets/styles/variables';

.root {
  display: flex;
  justify-content: center;
  margin: 2.4rem 0;
  gap: 1.2rem;
  list-style-type: none;

  & li {
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $color-main;
    color: $color-main;
    cursor: pointer;
    font-size: 2.4rem;
    transition: color .2s ease, background-color .2s ease;

    &.selected {
      color: $color-bg-white;
      background-color: $color-main;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $color-bg-white;
        background-color: $color-main;
      }
    }
  }
}