@import '../../assets/styles/variables';

.Button {
  background-color: $color-bg-white;
  border: 1px solid hsl(240, 6%, 83%);
  padding: 1.6rem;
  border-radius: 1.2rem;
  color: hsl(240, 4%, 42%);
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  transition: color .2s ease, border .2s ease;
  position: relative;

  & p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &:hover {
    border: 1px solid $color-main;
    color: $color-main;
  }
}