@import '../../assets/styles/variables';

.SingleSlide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.Content {
  flex: 1 0 40%;
  text-align: left;
  padding: 0 5%;
}

.ContentAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 5%;

  & .Title {
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);

    @media screen and (max-width: 768px) {
      font-size: 4.8rem;
    }
  }

  & .Text {
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px)
  }
}

.Title {
  color: $color-font-main;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.28;
  margin: 0;
}

.Text {
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
  color: $color-font-gray;
  font-size: 2rem;
  line-height: 1.4;
}

.Cover {
  height: 100%;
  width: 100%;
  background-color: red;
}

.Image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}