@import '../../assets/styles/variables';

.Basket {
  background-color: $color-bg-white;
  padding: 2.4rem;
  border-radius: 1.2rem;

  @media screen and (max-width: 768px) {
    border-radius: 0;
  }
}

.Content {
  max-width: 78rem;
  padding: 3rem;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: 3rem 0;
  }
}

.NothingText {
  font-size: 3rem;
  font-weight: 700;
}

.Titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-gray-border;
  padding-bottom: 2rem;
}

.ClearBasketButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: $color-font-gray;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      color: $color-font-main;
      border-bottom: 1px dashed black;
    }
  }
}

.List {
  list-style-type: none;
}

.Amount {
  font-size: 3.2rem;
  text-align: right;

  span {
    font-weight: 700;
  }
}

.bottom {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;

  background-color: $color-main;
  border-radius: 1.2rem;
  color: $color-bg-white;
  padding: 1.2rem 2.4rem;
  position: relative;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1.1)
  }

  &.Active {
    background-color: transparent;
    border: 1px solid hsl(328, 92%, 47%);
    border-radius: 1.2rem;
    color: hsl(328, 92%, 47%);
    padding: 1.1rem 2.3rem;
  }
}

.link {
  text-decoration: none;
}