@import '../../assets/styles/variables';

.header {}

.logo,
.logo:active,
.logo:visited {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: $color-font-main;
  font-size: 3.2rem;
}