@import '../../assets/styles/variables';

.Navigation {
  display: flex;
  gap: 2.4rem;
  list-style-type: none;
}

.NavigationMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;

  list-style: none;
  background-color: $color-bg-gray;
  transition-duration: .4s;
  z-index: 2;

  & a {
    font-size: 2.4rem;
  }
}

.X {
  display: block;
  position: fixed;
  top: -100%;
  right: 10%;
  transition-duration: .5s;
  z-index: 2;
}

.Active {
  color: $color-main;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;

  transition: color 0.2s ease;

  &:hover {
    color: $color-font-main;
  }
}

.Link {
  color: $color-font-main;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;

  transition: color 0.2s ease;

  &:hover {
    color: $color-main;
  }
}

.Phone {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;

  & a {
    color: $color-font-main;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $color-main;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}