@import '../../assets/styles/variables';

.Footer {
  background-color: $color-bg-white;
  padding: 2.4rem;
  margin: 2.4rem 0;
  border-radius: 1.2rem;
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.Footer div {
  flex-basis: 100%;
}

.Footer h3 {
  margin-bottom: 1.6rem;
}


.Logo,
.Logo:active,
.Logo:visited {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: $color-font-main;
  font-size: 3.2rem;
  margin-right: 4.8rem;
}

/* Общий стиль для всех ссылок внутри Footer */
.Footer a,
.Footer a:active,
.Footer a:visited {
  text-decoration: none;
  color: $color-font-main;
  list-style: none;
  /* Убираем маркеры у пунктов списка */
}

/* Стиль для иконок внутри .SocialIcons */
.SocialIcons a {
  color: $color-main;
  /* Изменяем цвет иконок */
  margin-right: 1.2rem;
  /* Добавляем расстояние между иконками */
}

/* Стиль для списка */
.Footer ul {
  list-style-type: none;
  /* Убираем стандартные маркеры у списка */
  padding: 0;
  /* Убираем внутренний отступ у списка */
  margin: 0;
  /* Убираем внешний отступ у списка */
}