@import '../../assets/styles/variables';

.Root {
  width: 100%;
  margin: 2.4rem 0;
  position: relative;

  &::before {
    content: '';
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);

    background-image: url('./search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.Input {
  width: 100%;
  padding: 2.4rem;
  padding-left: 6rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 1.2rem;
  font-size: 2rem;

  &:focus {
    border: 1px solid rgba($color-main, 0.4);

    &::placeholder {
      color: transparent;
    }
  }

  @media screen and (max-width: 768px) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }
}