@import '../../assets/styles/variables';

.Container {
  max-width: 1200px;
  margin: 0 auto;
}

.BreadCrumbs{
  color: $color-font-gray;
  font-size: 1.2rem;
  margin: 1.2rem 0;

  & a{
    text-decoration: none;
    color: $color-font-gray;
  }

  @media screen and (max-width: 768px) {
    margin: 1.2rem 2.4rem;
  }
}

.Page {
  display: flex;
  gap: 4rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.Properties {
  display: flex;
  list-style-type: none;
  gap: 0.8rem;
  margin-bottom: 1.2rem;

  & li {
    padding: 0.4rem 0.8rem;
    color: $color-bg-white;
    background-color: $color-main;
    border-radius: 0.8rem;
  }
}


.Cover {
  flex: 1 1 100%;
  max-height: 42rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  flex: 1 1 100%;

  @media screen and (max-width: 768px) {
    padding: 1.2rem 2.4rem;
  }
}

.Image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.Name {
  font-size: 4.8rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid hsl(0, 0%, 80%);

  @media screen and (max-width: 576px) {
    font-size: 3.6rem;
  }
}

.Weight {
  margin-bottom: 1.2rem;

  & span {
    font-weight: 700;
  }
}

.Description {
  color: $color-font-gray;
  margin-bottom: 2.4rem;
  max-width: 60rem;
  font-size: 2rem;
}

.Price {
  color: $color-font-gray;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 2.4rem 0;

  & span {
    font-family: 'Inter';
    font-weight: 700;
    color: $color-font-main;
    font-size: 4rem;
    line-height: 0.8;
  }
}

.AddToBasket {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.4rem;
  gap: 1.2rem 2.4rem;
}

.AddButton {
  border: 1px solid transparent;
  outline: none;
  background-color: $color-main;
  color: $color-bg-white;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: color .3s ease, border .3s ease, background-color .3s ease;

  @media (any-hover: hover) {
    &:hover {
      filter: brightness(1.1);
    }
  }

  &.Active {
    border: 1px solid $color-main;
    background-color: transparent;
    color: $color-main;
  }
}