@import '../../assets/styles/variables';

.Container {
  margin: 0 auto;
  max-width: 1200px;
}

.Count{
  align-items: center;
  background-color: $color-main;
  border: 2px solid $color-bg-white;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1.2rem;
  height: 2.8rem;
  justify-content: center;
  position: absolute;
  right: -0.6rem;
  top: -1rem;
  width: 2.8rem;
}

.BreadCrumbs {
  color: $color-font-gray;
  font-size: 1.2rem;
  margin: 1.2rem 0;

  & a {
    color: $color-font-gray;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    margin: 1.2rem 2.4rem;
  }
}

.Page {
  display: flex;
  gap: 2.4rem 4rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.Properties {
  display: flex;
  gap: 0.8rem;
  list-style-type: none;
  margin-bottom: 1.2rem;

  & li {
    background-color: $color-main;
    border-radius: 0.8rem;
    color: $color-bg-white;
    padding: 0.4rem 0.8rem;
  }
}


.Cover {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  max-height: 42rem;
  overflow: hidden;
}

.Content {
  flex: 1 1 100%;

  @media screen and (max-width: 768px) {
    padding: 1.2rem 2.4rem;
  }
}

.Image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Name {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  font-size: 4.8rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;

  @media screen and (max-width: 576px) {
    font-size: 3.6rem;
  }
}

.Weight {
  margin-bottom: 1.2rem;

  & span {
    font-weight: 700;
  }
}

.Description {
  color: $color-font-gray;
  font-size: 2rem;
  max-width: 60rem;
}

.Price {
  color: $color-font-gray;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 2.4rem 0;

  & span {
    color: $color-font-main;
    font-family: 'Inter';
    font-size: 4rem;
    font-weight: 700;
    line-height: 0.8;
  }
}

.AddToBasket {

  margin-bottom: 2.4rem;
}


.Similar {
  & .FromCategory {
    margin: 2.4rem 0;

    @media screen and (max-width: 768px) {
      margin: 2.4rem;
    }
  }
}

.Loading {
  animation: loading 1s linear infinite;
  border: 16px solid $color-main;
  border-radius: 50%;
  border-top: 16px solid transparent;
  height: 100px;
  width: 100px;
}

.LoadingParent{
  align-items: center;
  display: flex;
  height: 60rem;
  justify-content: center;
  width: 100%;
}




@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}