* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: $color-main !important;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 0 3rem;
  color: $color-main !important;
}


::selection {
  background: $color-main;
  color: #fff;
}

::-moz-selection {
  background: $color-main;
  color: #fff;
}

html {
  /* 10px */
  font-size: 62.5%;
}


body {
  font-size: 1.6rem;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-bg-gray;
  padding: 3rem 0;
  color: $color-font-main;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 163.6rem;
  padding: 0 3rem;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}