
.Slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 24px;
  overflow: hidden;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}